$white: #fff;
$light: #f8f8f8;
$text-color: #777;
$text-heading: #333;
$text-heading-sub: #555;
$blue: #2998ff;
$blue-dark: #4e21ed;
$indigo: #a820d8;
$yellow: #ffbf00;
$red: #fd467b;
$green: #0bbfbd;
$black: #000;

$shadow: 0 1rem 2rem rgba($black, 0.1);

//screen-breakpoints-variables
$breakpoint-sm: 36em;
$breakpoint-md: 48em;
$breakpoint-lg: 62em;
$breakpoint-xl: 75em;
$breakpoint-xxl: 112.5em;
